Button{
   -fx-pref-width: 500px;
    -fx-pref-height: 100px;

    -fx-background-color: #15DC79;
    -fx-font-style: oblique;
    -fx-font-size: 80px;
}
VBox{
     -fx-background-image: url("/guesski/view/materials/helpBackground.jpg");
     -fx-background-repeat: stretch;
     -fx-background-size: 1024 720;
     -fx-background-position: center center;
     -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
     -fx-spacing: 20;

 }
 Label{
     -fx-font-style: oblique;
     -fx-font-size: 35px;
     -fx-font-color:rgba(0,0,0,1)
 }

 .titre{
      -fx-font-style: oblique;
      -fx-font-size: 80px;
      }