AnchorPane{
-fx-background-color: linear-gradient(to bottom, #5ea1e1, white);
-fx-background-size: 1024 720;
}
Rectangle{
-fx-stroke: #15DC79;
-fx-fill: #15DC79;


}
Button{
   -fx-pref-width: 100px;
    -fx-pref-height: 35px;
    -fx-background-color: #15DC79;
    -fx-font-style: oblique;
    -fx-font-size: 20px;
}



Slider{
-fx-control-inner-background: #15DC79;
}
Label{
    -fx-pref-width: 150px;
    -fx-pref-height: 35px;
    -fx-font-style: oblique;
    -fx-font-size: 20px;
}

